/* Regola di Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* General */

html {
    font-family: 'Open Sans', sans-serif;
}

.btn-blue {
    background-color: #0061FF;
    border: none;
    padding: 8px 10px;
    text-decoration: none;
    color: #fff;
}

.big-width {
    max-width: 1100px;
    margin: 0 auto;
}

.small-width {
    width: 900px;
    margin: 0 auto;
}

.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

/* Header */

.header-top nav{
    height: 70px;
    width: 100vw;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.header-top nav ul{
    line-height: 70px;
}

.header-top nav li {
    border-bottom: 1px solid #FFF;
}

.header-left ul, .header-right ul {
    list-style: none;
    align-items: center;
}

.header-left ul a, .header-right ul a {
    text-decoration: none;
    margin: 0 10px;
    color: #000;
}

.header-right li a.btn-blue {
    color: #fff;
    padding: 5px 10px;
}

.header-left, .header-right {
    padding: 0 15px;
}

.header-bottom {
    background-color: #B4D0E7;
    margin-bottom: 150px;
}

.header-position {
    position: relative;
    bottom: -80px;
}

.header-bt-container {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

.header-bt-container h1 {
    font-weight: 800;
}

.jumbo {
    height: 400px;
}

.header-bt-right img {
    width: 100%;
}

.header-bt-left p {
    margin-bottom: 30px;
}

.header-bt-left a i {
    color: black;
}

#mini {
    margin-top: 30px;
    margin-bottom: 50px;
}

.header-bt-left i {
    font-size: 40px;
}
/* Main */

.business h2, .operation h2{
    font-size: 30px;
    margin-bottom: 40px;
}

.radio-button {
    margin-bottom: 30px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
}

.circle {
    border: 5px blue solid;
    background-color: white;
}

.empty {
    background-color: #fff;
    border: 2px grey solid;
    margin-left: 30px;
}
 /* Plan */

.plan-container {
    justify-content: space-between;
}

.plan {
    border: 1px solid lightgrey;
}

.plan-type {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.plan-list hr  {
    width: 70px;
    margin: 20px 0 40px 20px;
    border: 1px solid lightgrey;
}

.plan-list ul{
    list-style: none;
    padding: 20px;
}

.plan-list li {
    padding-bottom: 25px;
}

.plan-list li a.btn-blue {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}

.fa-check {
    color: #0161FF;
}

.grey-text {
    color: gray;
}

.plan-large {
    width: 100%;
    margin-top: 40px;
    border: 1px solid lightgrey;
}

.plan-large-type {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.plan-large-description {
    padding-left: 20px;
}

.plan-large-description h3{
    padding: 15px 0;
}

.plan-large-description p {
    padding: 40px 0 10px 0;
}

.plan-large-button {
    text-align: center;
    display: inline-block;
    margin-top: 25px;
}

/* Partner */

.partner {
    margin-top: 100px;
}

.img-partner img{
    width: 90%;
}

.text-partner {
    padding: 40px 0;
}

.text-partner h3{
    margin-bottom: 15px;
}

.text-partner p {
    margin-bottom: 40px;
}

.btn-partner {
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid black;
    color: #000;
}

/* Operation */

.operation {
    margin-top: 100px;
}

.operation-list {
    justify-content: space-between;
}

.operation-item {
    margin-bottom: 50px;
    flex-direction: column;
}

.operation-item img {
    width: 100%;
}

.operation-item h4 {
    margin-bottom: 15px;
}

/* Team */

.team {
    margin: 100px 0;
}

.team a {
    color: #0161FF;
}

/* Square Zone */

.square-container {
    width: 100vw;
}

.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.small-square {
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.small-square img {
    width: 50%;
    filter: invert(100%);
}

#green-square {
    background-color: #a2d39b;
}

#brown-square {
    background-color: #61082b;
}

#skyblue-square {
    background-color: #0093CE;
}

#red-square {
    background-color: #ff1c1c;
}

#darkred-square {
    background-color: #d5001f;
}

#lightblue-square {
    background-color: #B4D0E7;
}

#blue-square {
    background-color: #0d2481;
}

#yellow-square {
    background-color: #ffd830;
}

#grey-square {
    background-color: #F5F5F5;
}

.square#grey-square {
    padding: 40px;
    overflow: auto;
}
.square#grey-square img{
    width: 60%;
}
.square#grey-square p {
    margin: 20px 0;
}

.square#grey-square hr {
    width: 70px;
    margin: 25px 0;
}

.square-bottom {
    background-color: #b4d0e7;
    padding: 120px 0;
}

.square-bt a {
    background-color: #fff;
    color: #000;
    display: inline-block;
    padding: 8px 25px;
}

.square-bottom .small-width {
    justify-content: space-between;
}

.square-text h2{
    width: 80%;
    color: #61082b;
    font-size: 30px;
}
 /* Question */

.question {
    padding: 100px 0;
}

.question h2 {
    border-bottom: 1px solid black;
    padding: 0 0 40px 2px;
}

.question strong {
    padding: 20px 0;
    font-size: 13px;
    display: inline-block;
}

.one-question  {
    border-bottom: 1px solid black;
}

.one-question p {
    display: none;
}

.one-question i{
    margin-left: 150px;
}

/* Footer */

footer {
    background-color: #000;
}

.footer-container {
    padding: 100px 0;
}

.list-footer ul li h4 {
    padding-bottom: 20px;
}

.list-footer ul li{
    color: #fff;
    list-style: none;
    padding: 10px 0;
}

.list-footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.language {
    margin-top: 70px;
}

.language i, .language span{
    color: #fff;
    padding: 0 3px ;
}

.language hr {
    width: 100px;
    margin-bottom: 50px;
    background-color: lightgrey;
}


/* Hover Effects  */

/* General */

.btn-blue, .btn-partner {
    transition: border-radius 1s linear;
}

.btn-blue:hover, .btn-partner:hover{
    border-radius: 7px;
}

/* Header */
.header-top nav li:not(.no-border):hover{
    border-bottom: 2px solid #0061FF;
}


/* Main */

.one-question:hover p{
    display: inline-block;
    padding: 15px 0;
    font-size: 13px;
}

.one-question:hover i {
    transform: rotate(180deg);
}

/*  */

.list-footer li a:hover {
    border-bottom: 1px solid #0161FF;
}

.buynow:visited {
    color: #0061FF;
}