/* Regola di Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* General */

html {
    font-family: 'Open Sans', sans-serif;
}

.btn-blue {
    background-color: #0161FF;
    border: none;
    padding: 8px 10px;
    text-decoration: none;
    color: #fff;
}

.big-width {
    max-width: 1100px;
    margin: 0 auto;
}

.small-width {
    max-width: 900px;
    margin: 0 auto;
}


/* Header */

.header-top nav{
    height: 70px;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.header-left ul, .header-right ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-left ul a, .header-right ul a {
    text-decoration: none;
    margin: 0 10px;
    color: #000;
}

.header-right li a.btn-blue {
    color: #fff;
}

.header-left, .header-right {
    padding: 0 15px;
}

.header-left img {
    width: 80%;
    display: flex;
}

.header-bottom {
    background-color: #B4D0E7;
    padding-top: 70px;
    height: 675px;
    margin-bottom: 150px;
}

.header-bt-container {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

.header-bt-container h1 {
    font-weight: 800;
}

.jumbo {
    display: flex;
    height: 400px;
}

.header-bt-right img {
    height: 100%;
}

.header-bt-left p {
    margin-bottom: 30px;
}

.header-bt-left a i {
    color: black;
}

#mini {
    margin-top: 30px;
    margin-bottom: 70px;
}

.header-bt-left i {
    font-size: 40px;
}

.header-bt-right {
    width: 60%;
}

.header-bt-left {
    width: 40%;
}

/* Main */

.main-container h2{
    font-size: 30px;
    margin-bottom: 40px;
}

.radio-button {
    display: flex;
    margin-bottom: 30px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
}

.circle {
    border: 5px blue solid;
    background-color: white;
}

.empty {
    background-color: #fff;
    border: 2px grey solid;
    margin-left: 30px;
}

.plan-container {
    display: flex;
    justify-content: space-between;
}

.plan {
    border: 1px solid lightgrey;
    width: 30%;
}

.plan-type {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.plan-description {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.plan-description h3, .plan-description span {
    padding: 10px 0;
}

.plan-description span {
    color: grey;
}

.plan-text {
    padding: 0 10px 30px 10px;
}

.plan-buy {
    margin-top: 40px;
}

.plan-button{
    text-align: center;
}

.plan-button a {
    padding: 10px 25px;
}

#small-button {
    padding: 10px 85px;
}

.plan hr  {
    width: 70px;
    margin: 20px 0 20px 10px;
    background-color: grey;
}

.fa-check {
    color: #0161FF;
}

.plan-large {
    width: 100%;
    margin-top: 40px;
    border: 1px solid lightgrey;
    position: relative;
}

.plan-large-type {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.plan-large-description {
    padding-left: 20px;
    width: 70%;
}

.plan-large-description h3{
    padding: 15px 0;
}

.plan-large-description p {
    padding: 40px 0 10px 0;
}

.plan-large-button {
    position: absolute;
    top: 75px;
    right: 25px;
}